**
!dist/extension.cjs
!bin/acpira
!bin/acpira.exe
!docs/chatgpt-bridge.md
!dist/webview/main.js
!dist/webview/main.css
!dist/webview/assets/**
!media/icon.png
!media/icon.svg
!media/icon-light.svg
!LICENSE
!README.md
!CHANGELOG.md
!package.json
!package.nls.json
!package.nls.zh-cn.json
